In [ ]:
Sub-Topics

delete operations in lists
sort,index,count in lists
insert in lists

In [1]:
li = []

In [2]:
li = [1,2,3]

In [4]:
li = [1, "Rakesh",True, 2.45 , {1:"hello"},(1,2,3,4), ["Rakesh",True, 2.45]]

In [5]:
li

[1, 'Rakesh', True, 2.45, {1: 'hello'}, (1, 2, 3, 4), ['Rakesh', True, 2.45]]

# 'Access and Change Element in List'

In [6]:
li[0]

1

In [7]:
li[1]

'Rakesh'

In [15]:
li = [1, "Rakesh",True, 2.45 , {1:"hello"},(1,2,3,4), ["This Rakesh Inner list",True, 3.45]]

In [16]:
li[5]

(1, 2, 3, 4)

In [17]:
li[6]

['This Rakesh Inner list', True, 3.45]

In [18]:
li[6][0]

'This Rakesh Inner list'

In [19]:
li[6][2]

3.45

In [20]:
li[6][3]

IndexError: list index out of range

# `Slicing of A List`

In [21]:
li = [1, "Rakesh",True, 2.45 , {1:"hello"},(1,2,3,4), ["This Rakesh Inner list",True, 3.45]]

In [22]:
li[1:5]

['Rakesh', True, 2.45, {1: 'hello'}]

In [23]:
li[1:6]

['Rakesh', True, 2.45, {1: 'hello'}, (1, 2, 3, 4)]

In [24]:
li[1:]

['Rakesh',
 True,
 2.45,
 {1: 'hello'},
 (1, 2, 3, 4),
 ['This Rakesh Inner list', True, 3.45]]

In [25]:
li[:]

[1,
 'Rakesh',
 True,
 2.45,
 {1: 'hello'},
 (1, 2, 3, 4),
 ['This Rakesh Inner list', True, 3.45]]

In [26]:
li[:10]

[1,
 'Rakesh',
 True,
 2.45,
 {1: 'hello'},
 (1, 2, 3, 4),
 ['This Rakesh Inner list', True, 3.45]]

# `Insert and Append Elements in List`

### `Append`

### append()	Adds an element at the end of the list

### Definition and Usage
The append() method appends an element to the end of the list.

Syntax

    list.append(elmnt)

elmnt	Required. An element of any type (string, number, object etc.)

In [121]:
li = [1,2,3,4,5,6,7]

In [28]:
li.append("Suraj")

In [29]:
li

[1, 2, 3, 4, 5, 6, 7, 'Suraj']

In [31]:
li.append(100,2000,"Ashish")

TypeError: list.append() takes exactly one argument (3 given)

In [32]:
li.append([100,2000,"Ashish"])

In [33]:
li

[1, 2, 3, 4, 5, 6, 7, 'Suraj', [100, 2000, 'Ashish']]

In [34]:
li.append({1:"Yes"})

In [35]:
li

[1, 2, 3, 4, 5, 6, 7, 'Suraj', [100, 2000, 'Ashish'], {1: 'Yes'}]

# .insert() #method

### insert()	Adds an element at the specified position

### Definition and Usage
The insert() method inserts the specified value at the specified position.

Syntax
    
    list.insert(pos, elmnt)

elmnt	Required. An element of any type (string, number, object etc.)

In [36]:
li1 = li

In [37]:
li1

[1, 2, 3, 4, 5, 6, 7, 'Suraj', [100, 2000, 'Ashish'], {1: 'Yes'}]

In [38]:
li1.insert(0, "Insert")

In [39]:
li1

['Insert', 1, 2, 3, 4, 5, 6, 7, 'Suraj', [100, 2000, 'Ashish'], {1: 'Yes'}]

In [40]:
li1.insert(3, "Deepak")

In [41]:
li1

['Insert',
 1,
 2,
 'Deepak',
 3,
 4,
 5,
 6,
 7,
 'Suraj',
 [100, 2000, 'Ashish'],
 {1: 'Yes'}]

### .extend() #method

### extend()	Add the elements of a list (or any iterable), to the end of the current list

### Definition and Usage
The extend() method adds the specified list elements (or any iterable) to the end of the current list.

Syntax

    list.extend(iterable)
    
iterable	Required. Any iterable (list, set, tuple, etc.)

In [43]:
li1.extend([10,11,23])

In [44]:
li1

['Insert',
 1,
 2,
 'Deepak',
 3,
 4,
 5,
 6,
 7,
 'Suraj',
 [100, 2000, 'Ashish'],
 {1: 'Yes'},
 10,
 11,
 23]

### .remove() #method

### remove()	Removes the item with the specified value

### Definition and Usage
The remove() method removes the first occurrence of the element with the specified value.

Syntax

    list.remove(elmnt)
    
elmnt	Required. Any type (string, number, list etc.) The element you want to remove

In [45]:
li = [8,9,10,1,3,4,5]

In [46]:
li.remove(10)

In [47]:
li

[8, 9, 1, 3, 4, 5]

In [48]:
li.remove(8)

In [49]:
li

[9, 1, 3, 4, 5]

### .pop #method

### pop()	Removes the element at the specified position

### Definition and Usage
The pop() method removes the element at the specified position.

Syntax

    list.pop(pos)
    
pos	Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item

#### `Note: The pop() method returns removed value.`

In [50]:
li = [8,9,10,1,3,4,5]

In [52]:
li.pop()

4

In [53]:
li

[8, 9, 10, 1, 3]

In [54]:
li.pop(0)

8

In [55]:
li = [8,9,10,1,3,4,5]

In [59]:
li.remove(9,10)

TypeError: list.remove() takes exactly one argument (2 given)

In [60]:
del li[1:3]

In [61]:
li

[8, 1, 3, 4, 5]

In [63]:
del li[1]

In [64]:
li

[8, 4, 5]

In [65]:
li = [8,9,10,1,3,4,5]

In [67]:
del li[2]

In [68]:
li

[8, 9, 1, 3, 4, 5]

In [69]:
li = [8,9,10,1,3,4,5]

In [70]:
s = li.pop()
print(s)

5

In [71]:
li

[8, 9, 10, 1, 3, 4]

In [72]:
s = li.pop()
print(s)

4

In [73]:
li =  [8,9,10,1,3,4,5]

In [74]:
del li

In [75]:
li

NameError: name 'li' is not defined

In [ ]:
delete operations in lists
sort,index,count in lists
insert in lists

In [77]:
fruits = ["apple", "banana", "cherry"]

s = fruits.clear()
print(s)
print(fruits)

None
[]

### count()	Returns the number of elements with the specified value

In [78]:
fruits = ['apple', 'banana', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry', 'cherry']

x = fruits.count("cherry")

In [79]:
x

7

In [80]:
li = [1,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4,2,3,4]

In [81]:
count4 = li.count(4)

In [82]:
count4

9

In [83]:
a =[1, 2,3,(1,1,5,6)]                    
x = a.count(1)

In [84]:
x

1

In [85]:
y = a[3].count(1)

In [86]:
y

2

In [89]:
x = a.count(1)
y = a[3].count(1)
z = x + y

In [90]:
z

3

### copy()	Returns a copy of the list

In [91]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

In [92]:
x

['apple', 'banana', 'cherry', 'orange']

In [93]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [94]:
fruits

['cherry', 'banana', 'apple']

## reverse()	Reverses the order of the list

In [95]:
li = [1,2,3,4,5,6]
li.reverse()

In [96]:
li

[6, 5, 4, 3, 2, 1]

In [97]:
ord('c')

99

In [98]:
ord('C')

67

In [101]:
li=[2,1,9,4,7,8]
li.reverse()

In [103]:
li

[8, 7, 4, 9, 1, 2]

## sort()	Sorts the list

### Definition and Usage
The sort() method sorts the list ascending by default.

You can also make a function to decide the sorting criteria(s).

Syntax

    list.sort(reverse=True|False, key=myFunc)
    
reverse	Optional. `reverse=True` will sort the list descending. `Default is reverse=False`


key	Optional. **A function to specify the sorting criteria(s)**

In [106]:
fruits = ['cherry','banana','apple',]

fruits.sort()

In [107]:
fruits

['apple', 'banana', 'cherry']

In [108]:
fruits = ['cherry','banana','apple','aaple']

fruits.sort()

In [109]:
fruits

['aaple', 'apple', 'banana', 'cherry']

In [110]:
li = [4,5,6,7,2,1,2,3,4]
li.sort()
li

[1, 2, 2, 3, 4, 4, 5, 6, 7]

In [112]:
li = [4,5,6,7,2,1,2,3,4]
li.sort(reverse=True)
li

[7, 6, 5, 4, 4, 3, 2, 2, 1]

In [113]:
fruits = ['apple', 'banana', 'cherry', 'orange']

In [115]:
len(fruits)

4

In [116]:
for ele in range(0, len(fruits) , 1):
    print(fruits[ele])

apple
banana
cherry
orange

In [117]:
for ele in fruits:
    print(ele)

apple
banana
cherry
orange

In [118]:
fruits = ['apple', 'banana', 'cherry', 'orange']

In [119]:
for ele in fruits[1:3]:
    print(ele)

banana
cherry

In [120]:
for ele in range(1,3):
    print(fruits[ele])

banana
cherry